[submodule "machinery"]
	path = machinery
	url = https://github.com/kerberos-io/machinery
[submodule "kerberos-web"]
	path = kerberos-web
	url = https://github.com/kerberos-io/web
[submodule "ffmpeg"]
	path = ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
